@import url(https://fonts.googleapis.com/css?family=Oswald:700,300,400);

html, body {
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
  background: #3c8465;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
  padding: 1em;
  margin: 0;
}

.kick-counter {
	color: #ddd;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.kick-counter__timer,
.kick-counter__controls,
.kick-counter__counter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}

.kick-counter__timer,
.kick-counter__controls {
	height: 12vh;
}

.kick-counter__counter {
	flex: auto;
}

.counter,
.btn {
	border: none;
	background: none;
	color: #ddd;
	display: inline-block;
	font-family: Oswald, sans-serif;
	font-size: 50vh;
	line-height: 1;
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.counter:hover,
.btn:hover {
   	color: #fff;
}

.timer {
	font-size: 10vh;
}

.btn {
	font-size: 10vh;
}
