@import url(https://fonts.googleapis.com/css?family=Oswald:700,300,400);

html, body {
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
  background: #3c8465;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
  padding: 1em;
  margin: 0;
}

.kick-counter {
	color: #ddd;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100%;

}

.kick-counter.is-stopped .kick-counter__counter, 
.kick-counter.is-stopped .kick-counter__controls {
	opacity: 0.66;
}

.kick-counter.is-reset .kick-counter__controls {
	opacity: 0;
}

.kick-counter__timer,
.kick-counter__controls,
.kick-counter__counter {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	opacity: 1;
	-webkit-transition: opacity .4s ease-out;
	transition: opacity .4s ease-out;
}

.kick-counter__timer,
.kick-counter__controls {
	height: 15vh;
}

.kick-counter__counter {
	-webkit-box-flex: 1;
	-webkit-flex: auto;
	    -ms-flex: auto;
	        flex: auto;
}

.counter,
.btn {
	border: none;
	background: none;
	color: #ddd;
	display: inline-block;
	font-family: Oswald, sans-serif;
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.counter {
	font-size: 45vh;
	line-height: 1;
}

.btn,
.timer {
	font-size: 9vh;
}
